<!DOCTYPE html>
<html>
<head>
  <title>Snack Attack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="snack_attack.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class= "container">
    <div class = "header">
      <h1>Snack Attack</h1>
    </div>

    <% if user_signed_in? %>
      <div class="well well-sm">Logged in as <%= current_user.email %><%= link_to 'Edit profile', edit_user_registration_path ,class: "btn btn-default", role: "button" %><%= link_to "Logout", destroy_user_session_path, class: "btn btn-default", role: "button" ,method: :delete %></div>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Login", new_user_session_path %>
    <% end %>

    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <%= content_tag :div, msg, :class => "flash_#{name}" %>
      <% end %>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
